#urlWindow button, input[type="button"] {
  margin-top: 10px;
  background-color:#e11a2b;
  /*border: 2px solid grey;*/
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.reviews {
  font-family: 'Arial', 'Avenir Black';
}

.reviews h1 {
  font-family: 'Avenir Black';
}

.reviews .new-review h4{
  margin-top: 14px;
  margin-bottom: 0px;
  font-family: 'Avenir Black';
}
.reviews .new-review h3{
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: 'Avenir Black';
  padding: 0px;
}
.reviews .new-review h2{
  margin-bottom: 5px;
  margin-top: 2px;
  font-family: 'Avenir Black';
}


.reviews button:not(.remove-filters) {
  margin-top: 10px;
  background-color:#e11a2b;
  border: none;
  outline: 0;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.reviews small {
  color: darkgrey;
}

.reviews button:hover{
  cursor: pointer;
}

.modal-close:hover{
  cursor: pointer;
}


.reviews, input[type="radio"] {
  margin: '10px';
}

.filter{
  font-size: 12px;
}

.filter:hover {
  font-weight: bold;
  cursor: pointer;
}

.remove-filters {
  all: none
}
.remove-filters:hover{
  cursor: pointer;
}
.austinButtons:hover {
  cursor: pointer;
  font-weight: bold;
}

body.no-scroll{
  overflow: hidden;
}

.reviews textarea, input[type=text]{
  padding: 10px 5px;
  margin: 0px 0;
  border: 1px solid silver;
  border-radius: 5px;
  box-sizing: border-box;
  font-size:14px;
  font-family: Arial;
}

/*
color: #e11a2b
color: white
color: silver
color: black

font: areil
second: Avenir



*/
